* {
    margin: 0;
    padding: 0;
}
.w {
    width: 1152px;
    margin: 0 auto;
}
body{
    background-image: url(background.jpg);
    background-attachment: fixed;
    background-size: 100%;
    background-repeat: no-repeat;
}
#search-area{
    /* text-align: center; */
    
}
.search-title{
    width: 700px;
    height: 550px;
    background-color: pink;
    margin: 0 auto;
    margin-top: 50px;
    border-radius: 20px;
    text-align: center;
    background-color: rgba(51,51,51,0.7);
    position: relative;
}
.search-title .title{
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 30px;
    padding-top: 30px;
    padding-bottom: 20px;
    margin-left: 50px;
    margin-right: 50px;
    font-size: 50px;
    color: #E7E8E7;
    border-bottom: 3px solid #B6B6B6;
    
}
.search-form{
    position: absolute;
    top: 140px;
    left: 20px;
    text-align: left;
}
.search-form p{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #97C2DC;
}
.search-form span{
    font-size: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;
    color: #97C2DC;
}

.search-form .long{
    width: 650px;
    height: 30px;
    margin-top: 15px;
    background-color: rgba(51,51,51,0.7);
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    padding-left: 10px;
    color: #FDFDFD;
}
.search-form .short{
    width: 250px;
    height: 30px;
    margin-top: 15px;
    background-color: rgba(51,51,51,0.7);
    border-radius: 5px;
    border: 2px solid #CCCCCC;
    padding-left: 10px;
    color: #FDFDFD;
}
.second-line{
    margin-top: 20px;
}
.distance{
    float: left;
}
.category{
    float: left;
    margin-left: 30px;
}
.search-form p:after{
    content: '*';
    color: red;
}
.search-form span:after{
    content: '*';
    color: red;
}

.location{
    /* display: inline-block; */
    float: left;
    margin-top: 30px;
}
.location label{
    color: #C5C5C5;
}
.buttons{
    display: inline-block;
    float: left;
    margin-top: 30px;
}
.buttons .search-button{
    height: 56px;
    width: 124px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFE;
    background-color: #ED752F;
    box-shadow: 0 5px 2px 1px rgba(237, 117, 47, 0.7) ;
    border: 0px;
    border-radius: 5px;
    float: left;
}
.buttons .search-button:hover{
    background-color: #FD8F54;
}
.buttons .clear-button{
    height: 56px;
    width: 124px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    font-weight: 700;
    color: #FFFFFE;
    background-color: #566EA8;
    box-shadow: 0 5px 2px 1px rgba(86, 110, 168, 0.7) ;
    border: 0px;
    border-radius: 5px;
    float: left;
    margin-left: 20px;
}
.buttons .clear-button:hover{
    background-color: #5D7DB3;
}
.search-form .toblue:focus{
    outline: 2px solid #3478F6;
}